body {
	background:#000 url(../images/background.jpg) no-repeat 0 0; 
	font: normal 89% Lucida Grande,Verdana,sans-serif; 
	color:#c9827c; 
	
}

blockquote,html,body,h1,h2,h3,h4,h5,h6,li,ul,ol,p,pre ,hr{
	margin:0;
	padding:0;
	border: none;
}
a, a:link {
	color: #fec6a2; 
	text-decoration: underline;
}
a:hover, a:focus, a:active {
	color: #FFBD2E; 
	text-decoration: none;
}	
.wrapper {
	margin: 36px auto;
	width: 940px;
}
.header {
	padding-bottom: 13px;
}
h1.logo {
	background:transparent url(../images/logo_ruby_conference_India.png) no-repeat 0 0;
	float: right;
	width: 341px;
	height: 275px;
	text-indent: -9999px;
}
.blurb {
	background: transparent url(../images/blurb_bg.png) no-repeat 0 0;
	width: 520px;
	height: 215px;
	padding: 30px;
}
.blurb h2 {
	background: transparent url(../images/ruby_conf.png) no-repeat 0 0;
	width: 367px;
	height: 36px;
	text-indent: -9999px;
	padding-bottom: 8px;
}
.blurb blockquote {
	color: #66323b;
	letter-spacing: -1px;
	line-height: 1.32em;
	font-size: 1.6em;
	padding-bottom: 1.4em;
}
.blurb address, .blurb div {
	float: left;
	color: #000;
	font-size: 1.4em;
	font-weight: bold;
	font-style: normal;
}
.blurb div {
	background: transparent url(../images/devider.png) no-repeat 0 0;
	float: right;
	padding-left: 12px;
	white-space: nowrap;
}
.blurb div span {
	display: block;
	font-weight: normal;
	clear: left;
	color: #633f41;
	font-size: .7em;
}
.blurb a {
    color: #66323B;
   
}
.blurb a:hover {
    text-decoration: none;
}
.nav {
	text-align: right;
	color: #8a5653;
}
.nav a {
	margin-left: 12px;
	display: inline-block;
}
.content {
	background: transparent url(../images/bg_content_top.png) no-repeat 0 0;
	width: 885px;
	padding:31px 28px 1.2em;
	margin-top: 15px;
	line-height: 1.4em;
}
.bg {
	background: transparent url(../images/bg_content.png) repeat-y 0 0;
	padding: 0 28px;
}
.content_end {
	background: transparent url(../images/bg_content_btm.png) no-repeat 0 0;
	width: 941px;
	height: 20px;
}
.latest_news {
	background: transparent url(../images/twitter_bird.png) no-repeat 0 0;
	padding: 0 0 40px 50px;
	border-bottom: 1px solid #5a1f14;
	margin-bottom: 18px;
}
.latest_news h3 {
	color: #fec6a2;
	font-size:1.6em;
	font-size:bold;
	padding-bottom: 10px;
}
.latest_news a.btn_yellow {
	display: block;
	background: transparent url(../images/bg_btn.png) no-repeat 0 0;
	width: 89px;
	height: 29px;
	clear: left;
	color: #FFF;
	text-decoration: none;
	font-size: .85em;
	line-height:2.3em;
	text-align:center;
	float: right;
}

.latest_news a.btn_yellow:hover {
	color: #FFBD2E; 
}

.col_1 {
	float: left;
	width: 413px;
	padding-right: 15px;
	border-right: 1px solid #5a1f14;
	margin-right:1.3em;
}

.content h4,
.bg h4 {
	color: #e96100;
	font-size:1.25em;
	font-size:bold;
	padding-bottom: 10px;
}

.proposals {
	padding-top: 1em;
	overflow: hidden;
	border-top:1px solid #5A1F14;
}

.proposals .col_1 {
	width: 383px;
	padding-left: 30px;
}

.proposals .blrb {
	padding-bottom: 1em;
}

.proposals .blrb2 {
	padding: 1.5em 0 .5em 0;
	clear: left;
}

.proposals h5 {
	color: #FEC6A2;
}


.proposals ul {
	float: left;
	padding-left: 1.5em;
}

.footer {
	padding-top: 1em;
	color: #8a5653;
	font-size: .6em;
	text-align: center;
}