.badges ul {
  margin: 0; padding: 0;

  li{
    display: block;
    list-style-type: none;

    margin: 20px auto 40px auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
  }

  pre{
    background: rgba($white, 0.6);
    border-radius: 4px;
    font-size: 13px;
    padding: 10px;
  }
}