.home{
  h3{text-align: center;}
}

ul.speakers, ul.contact{
  margin: 0; padding: 0;
  text-align: center;

  li{
    display: inline-block;
    width: 140px;
    text-align: center;
    padding: 0; margin: 10px;
    line-height: 1em;

    img{
      display: inline-block;
      width: 120px; height: 120px;
      @include border-radius(60px);
      border: solid 4px $white;
    }

    &:before{display: none;}
  }

  h4{font-size: 16px; font-weight: 700;}
  a{font-size: 16px;}
  .phone{color: $gray;}
}

ul.contact{margin-top: 200px;}