.scholarship {
  h2, h3 {text-align: center;}

  ul li {
    display: inline-block;
    text-align: center;
    width: 32%;

    &:before { content: ''; }

    @media screen and (max-width: 800px) { width: 49%;}
    @media screen and (max-width: 600px) { width: 100%;}
  }

  iframe {
    width: 100%;
    height: 1810px;
    border: none !important;
    margin: 0 auto;

    @media screen and (max-width: 800px) { height: 1840px; }
  }
}
