.tickets .page {
  max-width: 1320px;
}

.terms {
  max-width: 640px;
  margin: 0 auto 48px;
  padding: 36px 20px 24px;
  position: relative;
  float: left;
}

.page p.tagline {
  padding: 36px 0 0 0;
  text-align: center;

  &:before {
    position: absolute;
    content: "";
    @include sprite-background("specs");
    left: 50%;
    top: 0;
    margin-left: -30px;
  }

  @media screen and (max-width: 700px){
    padding-top: 0;
    &:before {
      background: none;
    }
  }
}

.page iframe {
  max-width: 640px;
  height: 670px;
  margin: 75px auto auto;
  @include box-shadow(0 0 6px 0 rgba(black, 0.3));
  @include border-radius(4px);
  float: right;

  //@media screen and (max-width: 700px) { height: 640px;}
}
