.tickets .page {
  max-width: 1320px;
}

.terms {
  max-width: 640px;
  margin: 0 auto 48px;
  padding: 36px 20px 24px;
  position: relative;
  float: left;
}

.page p.tagline {
  padding: 36px 0 0 0;
  text-align: center;

  &:before {
    position: absolute;
    content: "";
    @include sprite-background("specs");
    left: 50%;
    top: 0;
    margin-left: -30px;
  }

  @media screen and (max-width: 700px){
    padding-top: 0;
    &:before {
      background: none;
    }
  }
}

.tickets{

  .terms, iframe{
    background: $white;
    margin: 75px auto auto;
  }

  .terms{
    position: relative;
    display: block;
    background: $white;
    height: 750px;
    overflow: auto;
    padding: 20px;

    @include span-columns(4);

    h2, h3{font-weight: bold;}
    h2{font-size: 18px; margin: 0; padding: 0;}
    h3{font-size: 14px;}
    ul li, p{font-size: 13px;}
  }

  iframe {
    height: 750px;
    border: none !important;
    @include span-columns(8 omega);
  }

  @media screen and (max-width: 960px) {
    .terms{@include span-columns(5);}
    iframe{@include span-columns(7 omega);}
  }

  @media screen and (max-width: 800px) {
    .terms{@include span-columns(6);}
    iframe{@include span-columns(6 omega);}
  }

  @media screen and (max-width: 720px) {
    .terms{height: auto;}
    .terms, iframe{
      @include reset-columns;
      width: 100%;
      margin-top: 20px;
    }
  }
}

