.blackout {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
}

.talksContent {
  position: fixed;
  top:20%;
  left: 20%;
  height: 40%;
  width: 40%;
  background-color: white;
}
