body {
	background: #000000 url(../images/background.jpg) no-repeat scroll 0 0;
	font: normal 89% Lucida Grande, Verdana, sans-serif;
	color:#c9827c;
}
blockquote, html, body, h1, h2, h3, h4, h5, h6, li, ul, ol, p, pre, hr {
	margin:0;
	padding:0;
	border: none;
}
a, a:link {
	color: #fec6a2;
	text-decoration: underline;
}
a:hover, a:focus, a:active {
	color: #FFBD2E;
	text-decoration: none;
}
.wrapper {
	margin: 0 auto 36px;
	width: 940px;
	position: relative;
}
.header {
	overflow:hidden;
	padding-bottom:5px;
}
a img {
	border: none;
}
h1.logo {
	background:transparent url(../images/logo_ruby_conference_India.png) no-repeat 0 0;
	float: right;
	width: 341px;
	height: 275px;
	text-indent: -9999px;
}
h2 {
	border-bottom:1px solid;
	margin-bottom:12px;
	padding-bottom:5px;
}
.main_sponsor {
	padding-bottom:10px;
	padding-top:25px;
	text-align:center;
}
.blurb {
	background: transparent url(../images/blurb_bg.png) no-repeat 0 0;
	width: 520px;
	height: 215px;
	padding: 30px;
}
.blurb h2 {
	background: transparent url(../images/ruby_conf.png) no-repeat 0 0;
	width: 367px;
	height: 36px;
	text-indent: -9999px;
	padding-bottom: 0px;
	border: 0;
	margin-bottom: 8px;
}
.blurb blockquote {
	color:#66323B;
	font-size:1.43em;
	letter-spacing:-1px;
	line-height:1.5em;
	padding-bottom:0.9em;
}
.blurb blockquote span {
	font-weight: bold;
}
/*.blurb address {
	color:#000000;
font-size:1.2em;
font-style:normal;
font-weight:bold;
line-height:1.4em;
}
.blurb div {
background: transparent url(../images/devider.png) no-repeat 0 0;
	float: right;
	padding-left: 12px;
	white-space: nowrap;
}*/

p {
	color: #FEC6A2;
}
ul.news {
	margin-bottom: -1em;
	margin-left:1em;
}
ul.news li {
	color: #FEC6A2;
	padding-bottom: 1em;
}
#about p {
	margin-bottom: 1.5em;
}
.blurb address, .blurb div {
	color:#000000;
	float:left;
	font-size:1.25em;
	font-style:normal;
	font-weight:bold;
	line-height:1.7em;
}
.blurb address a,
.blurb address a:hover,
.blurb address a:visited{
	color:#000000;
}
.blurb div {
	background:transparent url(../images/devider.png) repeat-y scroll 0 0;
	float:right;
	padding-left:15px;
	white-space:nowrap;
}
.blurb div span {
	display: block;
	font-weight: normal;
	clear: left;
	color: #633f41;
	font-size: .7em;
}
.blurb a {
	color: #66323B;
}
.blurb a:hover {
	text-decoration: none;
}
.nav {
	overflow: hidden;
	margin-bottom: 10px;
	height: 50px;
	background: url('../images/top_nav_bg.png') no-repeat 0 0;
	margin:0 0 50px;
}
.nav ul {
	list-style: none;
	margin-left:26px;
}
.nav li {
	float:left;
	margin-right:15px;
}
.nav li a {
	color:#FFDBC1;
	display:block;
	padding:10px;
	text-decoration:none;
}
.nav li a:visited {
	color:#FFDBC1;
}
.nav li a:hover {
	text-decoration: underline;
}
.nav li#speakers a {
	padding: 10px 15px;
}
.nav li#twitter {
	border-right: 1px solid #4d2720;
}
/*
.content,
.sidebar .content{
	background: transparent url(../images/bg_content_top.png) no-repeat 0 0;

	padding:31px 28px 1.2em;
	margin-top: 15px;
	line-height: 1.4em;
}
.bg {
	background: transparent url(../images/bg_content.png) repeat-y 0 0;
	padding: 0 28px;

}
.content_end {
	background: transparent url(../images/bg_content_btm.png) no-repeat 0 0;
	padding: 0 28px;
	height: 20px;
}*/
.latest_news {
	margin-bottom: 18px;
}
.sidebar .latest_news h4 {
	/*color: #fec6a2;
	font-size:1.6em;
	font-size:bold;*/
	line-height:40px;
	margin-left: 10px;
	padding:0 0 0 47px;
	background: transparent url(../images/twitter_bird.png) no-repeat 0 0;
}
a.btn_yellow {
	background:transparent url(../images/bg_btn.png) no-repeat scroll 0 0;
	color:#FFFFFF;
	display:block;
	font-size:0.85em;
	height:29px;
	line-height:2.3em;
	text-align:center;
	text-decoration:none;
	width:89px;
}
.latest_news a.btn_yellow {
	float:right;
	margin-top:-35px;
	margin-right: 10px;
}
a.btn_yellow:hover {
	color: #FFBD2E;
}
.col {
	float: left;
	margin-bottom: 1em;
	width: 100%;
}
h4 {
	color:#E96100;
	font-size:1.25em;
	padding-bottom:13px;
}
.sidebar h4 {
	padding-left:18px;
	text-shadow: -1px -3px 5px #FF0000;
	font-size:1.5em;
}
.proposals {
	padding-top: 1em;
}

.col_cont{overflow:hidden;}


.col_cont{
    margin: 15px 0;
    width: 540px;
}

.proposals .col_1 {
    float: left;
    padding-left: 30px;
    width: 220px;
}


.proposals .col_2 {
    float: left;
    width: 220px;
}


.proposals .blrb {
	padding-bottom: 1em;
}
.proposals .blrb2 {
	padding: 1.5em 0 .5em 0;
	clear: left;
}
.proposals h5 {
	color: #FEC6A2;
	margin-bottom: 10px;
}
.proposals ul {
	float: left;
	padding-left: 1.5em;
}
.footer {
	padding: 2em 0;
	color: #8a5653;
	font-size: .6em;
	text-align: center;
	clear: both;
}
.main_wrap, .main_content, .content {
	width: 540px;
	float: left;
}
.main_content, .content, .sidebar {
	width: 540px;
	padding: 20px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background: url(../images/bg_cont.png) repeat 0 0;
	margin-bottom: 15px;
}
.wide_content {
	width:900px;
}
.sidebar {
	background-image:url(../images/bg_sb_cont.png);
	float: right;
	margin-left:20px;
	padding:10px 0 0;
	width:340px;
	margin-bottom: 15px;
}
.sidebar2 {
	margin:20px 0 0;
	padding:20px;
	width:900px;
}
.sidebar .sb_content {
	width: 100%;
	padding: 0;
}
.sponsor_logos ul {
	list-style: none;
}
.sponsor_logos ul.main-sponsor {
	margin-bottom: 30px;
}
.sponsor_logos ul li {
	margin-bottom: 15px;
	text-align: center;
	display: block;
}
.sidebar2 .sponsor_logos, .sidebar2 h4 {
	text-align: center;
	display: block;
	float: left;
	width: 300px;
	padding: 0;
}
.sidebar2 h4 {
font-size:1.5em;
margin-top: 15px;
}
.bg .badge {
	padding-bottom: 0.5em;
}
.badge_html {
	margin-left: 1em;
	margin-bottom: 0.3em;
	height: 5em;
	width: 40em;
}
.bg .col_2 {
	padding-top: 0.2em;
}
table {
	border-collapse: collapse;
	margin-top: 15px;
	width: 100%;
}
table thead tr {
	background-color:#1F0C0D;
}
table tr {
	background: #2c0b0d;
}
table tr.odd {
	background: none;
}
table td, table th {
	padding: 5px;
	border: 1px solid #511a13;
}
table th {
	text-align: center;
	color: #e96100;
}
.lighter {
	color: #C9827C;
}
.register {
	float:right;
	position:relative;
	right:90px;
	top:-50px;
}
.register a {
	width: 145px;
	height: 32px;
	background: url('../images/register_sprite.png') no-repeat 0 0;
	text-indent: -9999em;
	display:block;
	outline: none;
}
.register a:hover {
	background-position: 0 -32px;
}
.support {
	position: absolute;
	right: -68px;
	top: 160px;
}
ul.sponsor_list {
	list-style: none;
	clear: both;
	float: left;
}
ul.sponsor_list li {
	margin-right: 15px;
	float: left;
	width: 250px;
}
ul.sponsor_list li h4 {
	margin-right: 0;
	text-align: center;
	margin-bottom: 15px;
	margin-right: 0;
	width: 250px;
}
ul.sponsor_list .sponsor_logos {
	width: 250px;
	text-align: center;
}
ul.speakers {
	margin: 25px 0 0 15px;
}
ul.speakers li {
	position: relative;
	margin-bottom: 2em;
	border: 1px solid #511A13;
	background:#2C0B0D;
	padding: 10px;
	list-style: none;
	border-radius-topright: 35px;
	-moz-border-radius-topright: 35px;
	-webkit-border-radius-topright: 35px;
	box-shadow: 5px 2px #5d1c14;
	-moz-box-shadow: 5px 2px #5d1c14;
	-webkit-box-shadow: 5px 2px #5d1c14;
	min-height: 200px;
}
ul.speakers li .spkr_photo {
	position: absolute;
	top: -15px;
	left: -15px;
	padding: 7px;
	background: #faf9f5;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 6px 6px #5d1c14;
	-moz-box-shadow: 6px 6px #5d1c14;
	-webkit-box-shadow: 6px 6px #5d1c14;
}
ul.speakers li .spkr_photo img {
	border: 1px solid #757575;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
}
ul.speakers li .spkr_details {
	margin-left: 150px;
}
ul.speakers li .spkr_details a {
	color:#C9827C;
}
ul.speakers li .spkr_name {
	font-weight: bold;
	color:#FAAB47;
	margin-bottom: 0.5em;
	font-size: 1.8em;
	text-shadow: 2px 2px 3px #FF1200;
	letter-spacing: 5px;
}
ul.speakers li p {
	text-align: justify;
	margin-bottom: 10px;
}
ul.speakers li p.presentation {
	text-align: left;
}
ul.speakers li p.presentation em{
	color:red;
	font-weight:bold;
	font-size: 1.1em;
	text-decoration: underline;
	line-height: 2em;
	text-shadow: 1px 1px 2px rgba(255, 80, 0, 0.7);
}
ul.speakers li p strong{
	display: block;
	margin-bottom: 1em;
	color: #ff8043; 
	font-size: 1.1em;
}
ul.speakers li .spkr_desc {
	margin-bottom: 2.5em;
}
ul.speakers li .spkr_desc p:first-child:first-line {
	
}
ul.speakers li .spkr_desc p:first-child:first-letter {
	font-size:400%; 
	display:block;
	float:left;
	margin: 0.06em 0 0;


}
ul.speakers li .spkr_abstract p{
	color: #fbd9c9;
}
ul.speakers li .presentation_links li {
	-moz-border-radius: 0;
	-moz-box-shadow: none;
	-webkit-border-radius: 0;
	-webkit-box-shadow: none;
	border-radius: 0;
	box-shadow: none;
	background:none ;
	border: 0;
	list-style:none;
	margin-bottom:5px;
	min-height: 20px;
	padding: 0;
	position: static;
}
.flash_news {
	right: 5px;
	position:absolute;
	top: 50px;
}
.flash_news p a{
	text-shadow: -5px -5px 5px rgba(255, 0, 0, 0.8);
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	
	padding: 5px;
}