.button{
  position: relative;
  display: inline-block;
  font-size: 26px;
  line-height: 32px;
  padding:  4px 20px 6px;
  margin: 10px;
  color: $gray;
  border: solid 2px;
  text-decoration: none;
  text-align: center;
  width: 280px;
  @include border-radius(8px);

  &:hover{ border: solid 2px; color: $blue;}

  &.important{
    color: $red;
    border-width: 4px;
    font-weight: 700;

    &:hover{color: $blue;}
  }

  span.tooltip{
    position: absolute;
    display: block;
    bottom: -42px;
    font-size: 16px;
    text-align: center;
    width: 200px;
    left: -1000em;
    margin-left: -100px;
    background: $blue;
    color: $white;

    @include border-radius(4px);

    &:before{
      content: "";
      display: block;
      position: absolute;
      top: -12px;
      left: 50%;
      margin-left: -6px;
      border: solid 6px transparent;
      border-bottom-color: $blue;
    }
  }

  &:hover span.tooltip{left: 50%;}
}
