.image-gallery{
  overflow: hidden;
  position: relative;
  height: 0;
  padding-top: 42.28%;

  @media screen and (max-width: 700px) {
    margin-top: 1.5em;
    padding-top: 60%;
  }
  
  &:before{
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 0;
    right: 0;
    z-index: 10;
    background: transparent url('../images/gallery-divider.png') no-repeat top center;
    background-size: 100% 100%;
  }

  figure{
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  }

  img{
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
  }

  figcaption{
    display: block;
    position: absolute;
    left: 5%;
    bottom: 20%;
    background: $blue-light;
    font-size: 18px;
    line-height: 24px;
    z-index: 20;
    @include box-shadow(0 0 6px $gray);
    
    &:hover, &:active, &:focus { background: $blue;}
    
    a {
      display: block;
      padding: 10px 20px;
      font-weight: 300;
      color: white; 
      &:hover{border: none;}
    }
    
    @media screen and (max-width: 700px) { font-size: 14px; right: 5%;}
  }
}
