header{
  display: block;
  margin: 0 0 24px;
  padding: 1px 20px;
  background: transparent url('../images/water.png') no-repeat left top;
  text-align: center;
  position: relative;

  @media screen and (max-width: 1600px){ background-size: 100% auto; margin-bottom: 12px; }

  a.github{ position: absolute; top: 0; right: 0; border: none;}

  h1{
    display: block;
    width: 18%;
    font-weight: bold;
    padding: 5% 0% 8% 0%;
    margin: 0 auto;

    a{
      color: $red;
      display: block;
      font-size: 70px;
      line-height: 0.9em;
      border: none;
      font-family: "bello-pro", georgia, serif;
      @include text-shadow(1px 1px 1px rgba(black, 0.2));

      span{ display: block;}

      &:before{
        content: "";
        margin: 0 auto 12px auto;
        @include sprite-background('logo');
      }

      &:hover{
        color: $red;
        border: none;
        @include text-shadow(2px 2px 2px rgba(black, 0.3));
      }
    }
  }

  h3 a{color: rgba($black, 0.6); font-weight: 700;}
  h3 a:hover{color: $red;}
}

