nav, .page nav{
  display: block;
  position: absolute;
  text-align: center;
  margin: 0;
  top: 5px;
  left: 0;
  right: 0;

  ul{
    display: inline-block;
    margin: 0;
    padding: 0;

    li{
      display: inline-block;
      position: relative;
      margin: 0 0 0 0;
      padding: 0 8px 0 0;

      &:before{display: none;}

      a{
        color: $white;
        display: block;
        padding: 0 10px;
        text-transform: lowercase;
        @include text-shadow(1px 1px 1px rgba($black, 0.5));

        &:hover{
          border-bottom: none;
          @include text-shadow(1px 1px 1px rgba($white, 1));
        }
      }

    }

  }

}