nav, .page nav{
  display: block;
  text-align: center;
  margin: 20px 0;

  ul{
    display: inline-block;
    border: solid 1px $red;
    margin: 0; 
    padding: 0;
    @include border-radius(8px);

    li{
      display: inline-block;
      margin: 0; padding: 0;
      border-left: solid 1px $red;

      &:first-child{border-left: none;}

      &:before{display: none;}
      
      a{
        color: $red;
        display: block;
        padding: 0 10px;
        text-transform: lowercase;

        &:hover{border-bottom: none; color: $red;}
      }
      
    }

  }

}