@media screen and (min-width: 700px){
  header{
    &:before, h1:before, h3:before,
    &:after, h1:after, h3:after{
      content: "";
      @include sprite-background("starfish");
      display: block;
      position: absolute;
      left: 12%;
      bottom: 25%;
    }
  }

  header{
    &:before{left: auto; right: 10%; bottom: 40%;}

    h1:before{
      @include sprite-background("turtle");
      bottom: -14%; right: 4%; left: auto;
    }

    h1:after{
      @include sprite-background("shell");
      top: 40%; right: 24%; left: auto;
    }

    &:after{
      @include sprite-background("starfish_small");
      top: 65%; right: 17%; left: auto;
    }

    // h3{position: relative; padding-bottom: 60px;}

    h3:before{
      @include sprite-background("starfish");
      bottom: -20px; left: 35%;
      display: none;
    }

    h3:after{
      @include sprite-background("starfish_small");
      bottom: 10px; left: 55%;
      display: none;
    }

  }
}