@media screen and (min-width: 700px){
  header{
    &:before, h1:before, h2:before, h3:before,
    &:after, h1:after, h2:after, h3:after{
      content: "";
      @include sprite-background("starfish_small");
      display: block;
      position: absolute;
      left: 12%;
      bottom: 25%;
    }
  }

  header{
    &:before{left: 28%; bottom: 40%;}

    h1:before{
      @include sprite-background("turtle");
      bottom: -14%; right: 4%; left: auto;
    }

    h3{position: relative; padding-bottom: 60px;}

    h3:before{
      @include sprite-background("waterdrop_4");
      bottom: 10px; left: 45%;
    }

    h3:after{
      @include sprite-background("waterdrop_2");
      bottom: 10px; left: 55%;
    }

    h2:after{
      @include sprite-background("starfish");
      top: 12%; right: 5%; left: auto;
    }

    h1:after{
      @include sprite-background("shell");
      top: 40%; right: 24%; left: auto;
    }

    &:after{
      @include sprite-background("starfish_small");
      top: 65%; right: 17%; left: auto;
    }
  }
}