@import "compass/css3";
@import "compass/css3/images";

@import "base/var";
@import "base/mixins";
@import "base/normalize";
@import "base/susy";
@import "base/typography";
@import "base/colors";

@import "modules/syntax";
@import "modules/sprites";

@include border-box-sizing;

html{ background: transparent url('../images/sand.jpg') repeat;}
body { position: relative;}

a {
	color: $blue;
	text-decoration: underline;
	&:hover { color: #a00;}
}

header{
  display: block;
  margin: 0 0 24px;
  padding: 1px 20px;
  background: transparent url('../images/water.png') no-repeat left top;
  text-align: center;
  position: relative;

  @media screen and (max-width: 1600px){ background-size: 100% auto; margin-bottom: 12px; }

  h1{
    display: block;
    width: 100%;
    font-weight: bold;
    padding: 8% 0 0 0;
    margin: 0;
  
    a{
      display: block;
      color: #a00;
      text-decoration: none;
      font-size: 100px;
      line-height: 0.9em;
      font-family: "bello-pro", georgia, serif;
      @include text-shadow(1px 1px 1px rgba(black, 0.2));

      @media screen and (max-width: 900px){font-size: 76px;}
      @media screen and (max-width: 800px){font-size: 68px;}
      @media screen and (max-width: 700px){font-size: 54px; font-weight: normal;}
      @media screen and (max-width: 600px){font-size: 47px;}
      @media screen and (max-width: 500px){font-size: 34px;}

      span{ display: block;}

      &:before{
        content: ""; margin: 0 auto 20px auto;
      //  @media screen and (min-width: 900px){ @include sprite-background('logo-large');}
      //  @media screen and (min-width: 600px) and (max-width: 900px){ @include sprite-background('logo'); margin-bottom: 12px;}
        @media screen and (max-width: 600px){ 
         background: url("../images/sprites-2x/logo-small.png") no-repeat left top;
         height: 48px;
         width: 48px;
		 @include background-size(48px auto);
         margin-bottom: 8px;
         display: block; 
        }
      }
    }
  }

  h2{
    color: rgba(black, 0.6);
    font-weight: 500;
	.div {
		display: inline-block;
		margin: 0 10px;
		@media screen and (max-width: 700px) {
			display: none;
		}		
	}
    a {
    	text-decoration: none;
    //  color: #555;
      /*&:before {
        content: "\2022";
        display: inline-block;
        padding: 0 10px;
      }*/

	  @media screen and (max-width: 700px){
        display: block;
        &:before, &:after{display: none;}
      }
    }

  }

  h3.twitter{    
    a{
      //font-size: 1.14285em;
      font-weight: 500;

      &:hover{ }
    }
  }
}
.home p {
	padding-left: 20px;
	padding-right: 20px;
  text-align: center;
}
p.large{
	color: rgba(black, 0.6);
	max-width: 640px;
	font-size: 26px;
	line-height: 1.230;
	margin: 0 auto;
	padding-bottom: 0.9em;
	text-align: center;
  @media screen and (max-width: 700px){font-size: 18px; font-weight: 400;}

	& + p {
		text-align: center;
		max-width: 552px;
		margin: 0 auto;
		padding-bottom:  .8em;
	}
}

.button{
  display: block;
  font-weight: 300;
  font-size: 26px;
  line-height: 32px;
  padding:  4px 20px 6px;
  border: solid 2px #2da4cc;
  background: #2da4cc;
  color: white;
  @include border-radius(4px);
  text-decoration: none;
  text-align: center;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 252px;
  &:hover{ background: #a00; border-color: #a00; color: white;}

  &.sponsor{
  //  margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
    background: transparent;
    color: #2da4cc;
    &:hover{ color: #a00; border-color: #a00; background: transparent;}
  }

  @media screen and (max-width: 700px){
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin-bottom: 12px;
    max-width: 260px;
    margin-top: 2%;

    &.sponsor{font-size: 18px;}
  }
}

.image-gallery{
  overflow: hidden;
  position: relative;
  margin-top: 4.5em;
  height: 0;
  padding-top: 45%;
  
  @media screen and (max-width: 700px) {
  	margin-top: 1.5em;
  	padding-top: 60%;
  }
  
  &:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    z-index: 10;
    background: transparent url('../images/sand-shadow.png') no-repeat top center;
    background-size: 100% auto;
  }

  figure{
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  }

  img{
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
  }

  figcaption{
    display: block;
    position: absolute;
    left: 5%;
    bottom: 20%;
    padding: 10px 20px;
    background: rgba($blue, 0.9);
	font-size: 18px;
	line-height: 24px;
  	@include box-shadow(0 0 6px rgba(black, 0.6));
  	a { color: white; text-decoration: none;}
    &:hover, &:active { background: $blue;}
  	@media screen and (max-width: 700px) {
	  	font-size: 14px;
	  	right: 5%;
  	}
  }
}

.page {
	padding: 0;
	margin: 0 auto;
	iframe {
		border: none;
		height: 600px;
		
    @media screen and (max-width: 700px) {
			height: 640px;
		}
	}
	ol {
    	padding: 0;
    //	list-style: outside decimal;
    //    list-style-image: url('http://localhost.rubyconfindia.org/2014/images/sprites/waterdrop_2.png')
    }
	li {
		position: relative;
		list-style: none;
	//	list-style: decimal outside;
		padding-left: 24px;
		padding-bottom: 8px;
		&:before {
			position: absolute;
			left: 0;
			top: 1px;
			content: url("../images/sprites/waterdrop_2.png");
			height: 24px;
			width: 24px;
		//	background: url("../images/sprites/waterdrop_2.png") no-repeat center center;
		//	@include background-size(100% auto);
		}
		h3 {
			padding-top: 4px;
			font-weight: 500;
		}
	}
}
.buy-tickets {
	max-width: 640px;
	margin: 0 auto 48px;
	padding: 36px 20px 24px;
	position: relative;

	&:before {
		position: absolute;
		content: "";
		@include sprite-background("specs");
		left: 50%;
		top: 0;
		margin-left: -30px;
	}

	@media screen and (max-width: 700px){
		padding-top: 0;
		&:before {
			background: none;
		}
	}

    
	iframe {
		max-width: 640px;
		margin: 12px auto 24px;
    @include box-shadow(0 0 6px 0 rgba(black, 0.3));
    @include border-radius(4px);
	}
}

.faq {
    max-width: 640px;
	padding: 0px 24px 24px;
}

#event {
//	padding: 0 1em;
	margin-bottom: 3em !important;
}
