/* normalize.css 2011-11-04T15:38 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 20, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 30, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
/* line 40, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
audio:not([controls]) {
  display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 49, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 66, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
html {
  font-size: 100%;
  /* 1 */
  overflow-y: scroll;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 3 */
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 77, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
body {
  margin: 0;
}

/* 
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 89, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 102, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 112, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Neutralise smaller font-size in 'section' and 'article' in FF4+, Chrome, S5
 */
/* line 125, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
h1 {
  font-size: 2em;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 133, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 142, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
b,
strong {
  font-weight: bold;
}

/* line 146, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 154, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 162, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 175, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 185, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 198, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
q {
  quotes: none;
}

/* 2 */
/* line 205, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 210, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 220, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 227, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
sup {
  top: -0.5em;
}

/* line 231, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 241, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px;
}

/* line 246, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 251, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 267, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9 
 */
/* line 276, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 289, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 302, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
/* line 310, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7
 */
/* line 321, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
legend {
  border: 0;
  /* 1 */
  *margin-left: -7px;
  /* 2 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 335, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 347, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 361, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 */
/* line 373, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 383, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding that is displayed in S5, Chrome on OS X
 */
/* line 394, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 404, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 414, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/* 
 * Remove most spacing between table cells
 */
/* line 428, /Users/arpanchinta/dev/rci/app/assets/stylesheets/normalize.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Vegur';
  src: url("fonts/Vegur Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vegur';
  src: url("fonts/Vegur Bold.otf");
  font-weight: bold;
  font-style: normal;
}

/* line 44, /Users/arpanchinta/dev/rci/app/assets/stylesheets/base.css.erb.scss */
html, header, nav, section#page {
  font-family: Vegur, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* line 1, /Users/arpanchinta/dev/rci/app/assets/stylesheets/fonts.css.erb.scss */
h1, h2, h3 {
  font-weight: normal;
}

/* line 1, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
html {
  background: #aa0000 url("bg.png") repeat center center;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
}

/* line 8, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
section#page {
  *zoom: 1;
  margin: auto;
  width: 982px;
  max-width: 100%;
  position: relative;
}
/* line 38, /Users/arpanchinta/.rvm/gems/ruby-1.9.2-p290@rci/bundler/gems/compass-57dcbad3aea2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
section#page:after {
  content: "";
  display: table;
  clear: both;
}

/* line 13, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
header {
  clear: both;
  margin-left: 0%;
  margin-right: 0%;
  position: relative;
  padding-top: 30px;
  height: 200px;
  background: transparent url("logo-small.png") no-repeat center 30px;
  overflow: hidden;
  z-index: 10;
}
/* line 23, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
header h1, header h2 {
  text-indent: -1000em;
}
/* line 25, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
header p#twitter {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 90px;
  width: 160px;
  background: transparent url("twitter.png") no-repeat center top;
  padding: 15px 20px;
  margin: 0;
  color: #666666;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}
/* line 42, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
header p#twitter a {
  color: #aa0000;
  text-decoration: none;
}

/* line 46, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
nav {
  clear: both;
  margin-left: 0%;
  margin-right: 0%;
  overflow: hidden;
  *zoom: 1;
  position: relative;
  background: white;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
/* line 55, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
nav ul {
  margin: 0;
  padding: 0;
}
/* line 58, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
nav ul li {
  display: inline;
}
/* line 60, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
nav ul a {
  display: block;
  display: inline;
  float: left;
  width: 16.497%;
  margin-right: 0.204%;
  text-align: center;
  text-decoration: none;
  color: #aa0000;
  padding: 80px 0 16px 0;
  background: transparent url("icons.png") no-repeat top center;
}
/* line 72, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
nav ul a.register {
  background-position: center 0px;
}
/* line 73, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
nav ul a.talks {
  background-position: center -100px;
}
/* line 74, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
nav ul a.schedule {
  background-position: center -200px;
}
/* line 75, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
nav ul a.directions {
  background-position: center -300px;
}
/* line 76, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
nav ul a.hotels {
  background-position: center -400px;
}
/* line 77, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
nav ul a.videos {
  background-position: center -500px;
}
/* line 78, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
nav ul a.badges {
  background-position: center -600px;
}
/* line 79, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
nav ul a.index {
  background-position: center -700px;
}
/* line 81, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
nav ul a.index {
  margin-left: 0%;
}
/* line 82, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
nav ul a.directions {
  display: inline;
  float: right;
  margin-right: 0%;
  #margin-left: -2px;
}
/* line 89, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
body#page_index nav ul a.index, body#page_talks nav ul a.talks, body#page_schedule nav ul a.schedule, body#page_directions nav ul a.directions, body#page_badges nav ul a.badges, nav ul a:hover {
  background-color: #ffffaa;
}

/* line 98, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
nav#secondary {
  clear: both;
  margin-left: 0%;
  margin-right: 0%;
  overflow: hidden;
  *zoom: 1;
  position: relative;
}
/* line 103, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
nav#secondary ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 107, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
nav#secondary ul li {
  display: inline;
}
/* line 109, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
nav#secondary ul a {
  color: white;
}

/* line 118, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
footer {
  clear: both;
  margin-left: 0%;
  margin-right: 0%;
  padding-top: 100px;
  position: relative;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 11px;
}
/* line 126, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
footer a {
  color: rgba(255, 255, 170, 0.7);
  text-decoration: none;
  border-bottom: dotted 1px;
}

@media screen and (max-width: 640px) {
  /* line 134, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
  header {
    padding-top: 40px;
    background-position: center 40px;
  }
  /* line 138, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
  header p#twitter {
    background: black;
    top: 0;
    right: 0;
    left: 0;
    padding: 4px;
    width: auto;
    height: auto;
  }

  /* line 146, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
  nav ul a {
    display: inline;
    float: left;
    width: 33.198%;
    margin-right: 0.204%;
  }
  /* line 148, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
  nav ul a.schedule {
    display: inline;
    float: right;
    margin-right: 0%;
    #margin-left: -2px;
  }
  /* line 149, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
  nav ul a.directions {
    margin-left: 0%;
  }
}
@media screen and (max-width: 480px) {
  /* line 154, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
  header {
    background-image: url("logo-small.png");
    height: 200px;
  }

  /* line 155, /Users/arpanchinta/dev/rci/app/assets/stylesheets/public.css.erb.scss */
  nav ul a {
    background-image: url("icons-small.png");
    padding: 60px 0 8px 0;
  }
}
/* line 1, /Users/arpanchinta/dev/rci/app/assets/stylesheets/index.css.erb.scss */
section#index {
  clear: both;
  margin-left: 0%;
  margin-right: 0%;
  overflow: hidden;
  *zoom: 1;
  position: relative;
  margin-top: 10px;
}
/* line 7, /Users/arpanchinta/dev/rci/app/assets/stylesheets/index.css.erb.scss */
section#index a, section#directions a {
  color: #ffffaa;
  text-decoration: none;
  border-bottom: dotted 1px;
}
/* line 9, /Users/arpanchinta/dev/rci/app/assets/stylesheets/index.css.erb.scss */
section#index section#news {
  display: inline;
  float: left;
  width: 66.599%;
  margin-right: 0.204%;
  margin-left: 0%;
  position: relative;
  font-size: 14px;
}
/* line 15, /Users/arpanchinta/dev/rci/app/assets/stylesheets/index.css.erb.scss */
section#index section#news h2 {
  font-size: 14px;
  margin: 10px 10px 0 10px;
}
/* line 20, /Users/arpanchinta/dev/rci/app/assets/stylesheets/index.css.erb.scss */
section#index section#news p {
  margin: 0 10px 10px 20px;
}
/* line 25, /Users/arpanchinta/dev/rci/app/assets/stylesheets/index.css.erb.scss */
section#index section#sponsors {
  display: inline;
  float: left;
  width: 33.198%;
  margin-right: 0.204%;
  display: inline;
  float: right;
  margin-right: 0%;
  #margin-left: -2px;
  position: relative;
}
/* line 30, /Users/arpanchinta/dev/rci/app/assets/stylesheets/index.css.erb.scss */
section#index section#sponsors h3 {
  text-align: center;
}
/* line 32, /Users/arpanchinta/dev/rci/app/assets/stylesheets/index.css.erb.scss */
section#index section#sponsors ul {
  margin: 0;
  padding: 0;
  border-bottom: dotted 1px rgba(255, 255, 255, 0.4);
}
/* line 36, /Users/arpanchinta/dev/rci/app/assets/stylesheets/index.css.erb.scss */
section#index section#sponsors ul li {
  display: inline;
  margin: 0;
  padding: 0;
}
/* line 38, /Users/arpanchinta/dev/rci/app/assets/stylesheets/index.css.erb.scss */
section#index section#sponsors ul a {
  clear: both;
  margin-left: 0%;
  margin-right: 0%;
  position: relative;
  display: block;
  margin: 10px 0;
  text-align: center;
  text-decoration: none;
  color: white;
  border: none;
}
/* line 49, /Users/arpanchinta/dev/rci/app/assets/stylesheets/index.css.erb.scss */
section#index section#sponsors ul a:hover {
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 170, 0.9);
  -moz-box-shadow: 0 0 10px rgba(255, 255, 170, 0.9);
  box-shadow: 0 0 10px rgba(255, 255, 170, 0.9);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
}
/* line 54, /Users/arpanchinta/dev/rci/app/assets/stylesheets/index.css.erb.scss */
section#index section#sponsors ul a span {
  display: block;
  height: 0;
  width: 0;
  text-indent: -1000em;
  overflow: hidden;
}
/* line 55, /Users/arpanchinta/dev/rci/app/assets/stylesheets/index.css.erb.scss */
section#index section#sponsors ul a img {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  max-width: 95%;
}
/* line 63, /Users/arpanchinta/dev/rci/app/assets/stylesheets/index.css.erb.scss */
section#index section#sponsors ul.years {
  font-size: 20px;
  line-height: 50px;
}
/* line 66, /Users/arpanchinta/dev/rci/app/assets/stylesheets/index.css.erb.scss */
section#index section#sponsors ul.years {
  font-size: 20px;
  line-height: 50px;
}
/* line 69, /Users/arpanchinta/dev/rci/app/assets/stylesheets/index.css.erb.scss */
section#index section#sponsors ul.years a {
  color: #fff;
}

/* line 74, /Users/arpanchinta/dev/rci/app/assets/stylesheets/index.css.erb.scss */
footer {
  clear: both;
  margin-left: 0%;
  margin-right: 0%;
  padding-top: 100px;
  position: relative;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 11px;
}
/* line 82, /Users/arpanchinta/dev/rci/app/assets/stylesheets/index.css.erb.scss */
footer a {
  color: rgba(255, 255, 170, 0.7);
  text-decoration: none;
  border-bottom: dotted 1px;
}

@media screen and (max-width: 640px) {
  /* line 91, /Users/arpanchinta/dev/rci/app/assets/stylesheets/index.css.erb.scss */
  section#index section#news {
    display: inline;
    float: left;
    width: 100%;
    margin-right: 0.204%;
  }
  /* line 92, /Users/arpanchinta/dev/rci/app/assets/stylesheets/index.css.erb.scss */
  section#index section#sponsors {
    display: inline;
    float: left;
    width: 66.599%;
    margin-right: 0.204%;
    padding-left: 16.701%;
    padding-right: 16.701%;
  }
}
/* line 1, /Users/arpanchinta/dev/rci/app/assets/stylesheets/*.css.erb.scss */
section#talks {
  margin-top: 20px;
}
/* line 3, /Users/arpanchinta/dev/rci/app/assets/stylesheets/talks.css.erb.scss */
section#talks article {
  float: left;
  width: 95%;
  min-height: 200px;
  margin: 4% 4% 4% 1.5%;
  padding: 0;
  background: white;
  position: relative;
  color: #666666;
}
/* line 13, /Users/arpanchinta/dev/rci/app/assets/stylesheets/talks.css.erb.scss */
section#talks article div.wrap {
  display: block;
  float: right;
  width: 170px;
  height: 180px;
}

section#talks article div.wrap.copresenter {
  width: 390px;
}

/* line 20, /Users/arpanchinta/dev/rci/app/assets/stylesheets/talks.css.erb.scss */
section#talks article div.photo {
  display: block;
  position: absolute;
  background: white;
  padding: 10px;
  width: 178px;
  height: 198px;
  top: -40px;
  right: -35px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

section#talks article div.photo.copresenter {
  right: 175px;
}

/* line 34, /Users/arpanchinta/dev/rci/app/assets/stylesheets/talks.css.erb.scss */
section#talks article div.photo h3 {
  font-size: 16px;
  font-weight: bold;
  color: #666666;
  padding: 0;
  margin: 0;
  text-align: center;
  background: transparent;
}

section#talks article div.photo img {
	height:178px;
	width:178px;
}

/* line 45, /Users/arpanchinta/dev/rci/app/assets/stylesheets/talks.css.erb.scss */
section#talks article div.photo span.links {
  display: block;
  position: absolute;
  height: 20px;
  background: white;
  top: 170px;
  left: 10px;
}
/* line 54, /Users/arpanchinta/dev/rci/app/assets/stylesheets/talks.css.erb.scss */
section#talks article div.photo span.links a {
  display: block;
  width: 20px;
  height: 20px;
  background: transparent url("mini-icons.png") -20px -20px no-repeat;
  float: left;
  text-indent: -1000em;
  overflow: hidden;
}
/* line 64, /Users/arpanchinta/dev/rci/app/assets/stylesheets/talks.css.erb.scss */
section#talks article div.photo span.links a.website {
  background-position: -20px -20px;
}
/* line 65, /Users/arpanchinta/dev/rci/app/assets/stylesheets/talks.css.erb.scss */
section#talks article div.photo span.links a.website:hover {
  background-position: -60px -20px;
}
/* line 66, /Users/arpanchinta/dev/rci/app/assets/stylesheets/talks.css.erb.scss */
section#talks article div.photo span.links a.twitter {
  background-position: -20px -60px;
}
/* line 67, /Users/arpanchinta/dev/rci/app/assets/stylesheets/talks.css.erb.scss */
section#talks article div.photo span.links a.twitter:hover {
  background-position: -60px -60px;
}
/* line 68, /Users/arpanchinta/dev/rci/app/assets/stylesheets/talks.css.erb.scss */
section#talks article div.photo span.links a:hover {
  background-color: black;
}
/* line 73, /Users/arpanchinta/dev/rci/app/assets/stylesheets/talks.css.erb.scss */
section#talks article h3 {
  background: #ffffaa;
  margin: 0;
  padding: 20px 20px 10px 20px;
}
/* line 79, /Users/arpanchinta/dev/rci/app/assets/stylesheets/talks.css.erb.scss */
section#talks article p {
  margin: 10px 20px;
}

/* line 1, /Users/arpanchinta/dev/rci/app/assets/stylesheets/badges.css.erb.scss */
section#badges {
  clear: both;
  margin-left: 0%;
  margin-right: 0%;
  margin: 0;
  padding: 0;
  color: #666666;
}
/* line 8, /Users/arpanchinta/dev/rci/app/assets/stylesheets/badges.css.erb.scss */
section#badges h2 {
  display: none;
  margin: 0;
  padding: 10px;
  text-align: center;
}
/* line 15, /Users/arpanchinta/dev/rci/app/assets/stylesheets/badges.css.erb.scss */
section#badges ul {
  display: inline;
  margin: 0;
  padding: 0;
}
/* line 18, /Users/arpanchinta/dev/rci/app/assets/stylesheets/badges.css.erb.scss */
section#badges ul li {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 0.204%;
  padding: 20px 0;
  background: white;
  list-style: none;
  display: block;
  margin-top: 2px;
}
/* line 26, /Users/arpanchinta/dev/rci/app/assets/stylesheets/badges.css.erb.scss */
section#badges ul li img {
  margin-left: 0%;
  float: left;
  margin: 0 20px;
}
/* line 28, /Users/arpanchinta/dev/rci/app/assets/stylesheets/badges.css.erb.scss */
section#badges ul li textarea {
  display: inline;
  float: left;
  width: 66.599%;
  margin-right: 0.204%;
  background: transparent;
  padding: 0;
  margin-top: 60px;
  height: 80px;
  display: block;
  border: none;
  font-size: 13px;
  font-family: monospace;
  font-color: #999999;
}
/* line 41, /Users/arpanchinta/dev/rci/app/assets/stylesheets/badges.css.erb.scss */
section#badges ul li.transparent {
  background: #666666;
  margin-top: 2px;
}
/* line 42, /Users/arpanchinta/dev/rci/app/assets/stylesheets/badges.css.erb.scss */
section#badges ul li.transparent textarea {
  color: white;
}
/* line 46, /Users/arpanchinta/dev/rci/app/assets/stylesheets/badges.css.erb.scss */
section#badges ul li pre {
  text-align: left;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
}

/* line 3, /Users/arpanchinta/dev/rci/app/assets/stylesheets/directions.css.erb.scss */
section#directions div#venue address {
  font-weight: normal;
  font-style: normal;
}
