@charset "UTF-8";
/* normalize.css 2012-03-09T22:11 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}

/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/*
 * Addresses placeholder color unset in Firefox
 */
:-moz-placeholder {
  color: #a9a9a9;
}

/*
 * Addresses placeholder text remaining visible on focus in Chrome
 */
:focus::-webkit-input-placeholder {
  color: transparent;
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Vegur';
  src: url("fonts/Vegur Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vegur';
  src: url("fonts/Vegur Bold.otf");
  font-weight: bold;
  font-style: normal;
}

html, header, nav, section#page {
  font-family: Vegur, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h1, h2, h3 {
  font-weight: normal;
}

html {
  background: #aa0000 url("bg_waves.png") repeat center center;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
}

section#page {
  *zoom: 1;
  margin: auto;
  width: 73em;
  max-width: 100%;
}
section#page:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #ffffaa;
  text-decoration: none;
  border-bottom: dotted 1px;
}

header {
  clear: both;
  margin-left: 1.37%;
  margin-right: 1.37%;
  position: relative;
  overflow: hidden;
  z-index: 10;
  padding-top: 40px;
}
header h1, header h2 {
  text-align: center;
}
header h1 {
  font-size: 18px;
  line-height: 20px;
}
header h2 {
  font-size: 14px;
  line-height: 18px;
}
header a.home {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
}
header p#twitter {
  display: block;
  position: absolute;
  background: black;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 4px 0;
  color: #666666;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}
header p#twitter a {
  color: #aa0000;
  text-decoration: none;
}

nav {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  position: relative;
  background: white;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline;
}
nav ul a {
  display: block;
  display: inline;
  float: left;
  width: 32.394%;
  margin-right: 1.408%;
  -webkit-transition-property: length;
  -moz-transition-property: length;
  -ms-transition-property: length;
  -o-transition-property: length;
  transition-property: length;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -ms-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  text-align: center;
  text-decoration: none;
  color: #aa0000;
  border: none;
  line-height: 36px;
}
nav ul a.directions, nav ul a.photos {
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
nav ul a.register {
  background-position: center 0px;
}
nav ul a.talks {
  background-position: center -100px;
}
nav ul a.schedule {
  background-position: center -200px;
}
nav ul a.directions {
  background-position: center -300px;
}
nav ul a.hotels {
  background-position: center -400px;
}
nav ul a.videos {
  background-position: center -500px;
}
nav ul a.badges {
  background-position: center -600px;
}
nav ul a.index {
  background-position: center -700px;
}
nav ul a.sponsors {
  background-position: center -800px;
}
nav ul a.photos {
  background-position: center -900px;
}
body#page_index nav ul a.index, body#page_talks nav ul a.talks, body#page_schedule nav ul a.schedule, body#page_directions nav ul a.directions, body#page_badges nav ul a.badges, body#page_sponsors nav ul a.sponsors, body#page_photos nav ul a.photos, nav ul a:hover {
  background-color: #ffffaa;
}

footer {
  clear: both;
  margin-left: 1.37%;
  margin-right: 1.37%;
  padding-top: 100px;
  position: relative;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 11px;
}
footer a {
  color: rgba(255, 255, 170, 0.7);
  text-decoration: none;
  border-bottom: dotted 1px;
}

@media screen and (min-width: 640px) {
  html {
    background-position: fixed;
  }

  header {
    position: relative;
    padding-top: 50px;
    height: 200px;
    background: transparent url("logo.png") no-repeat center 0px;
    overflow: hidden;
    z-index: 10;
    padding-top: 4px;
  }
  header h1, header h2 {
    text-indent: -1000em;
  }
  header p#twitter {
    top: 5px;
    right: 5px;
    left: auto;
    height: 90px;
    width: 160px;
    background: transparent url("twitter.png") no-repeat center top;
    padding: 15px 20px;
  }

  nav ul {
    margin: 0;
    padding: 0;
  }
  nav ul li {
    display: inline;
  }
  nav ul a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #aa0000;
    border: none;
    padding: 50px 0 8px 0;
    background: transparent url("icons-small.png") no-repeat top center;
  }
  body#page_index nav ul a.index, body#page_talks nav ul a.talks, body#page_schedule nav ul a.schedule, body#page_directions nav ul a.directions, body#page_badges nav ul a.badges, body#page_sponsors nav ul a.sponsors, nav ul a:hover {
    background-color: #ffffaa;
  }
}
@media screen and (max-width: 800px) {
  nav ul a.schedule {
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
  }
}
@media screen and (min-width: 800px) {
  nav ul a {
    display: inline;
    float: left;
    width: 15.493%;
    margin-right: 1.408%;
  }
}
@media screen and (min-width: 960px) {
  nav {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
  }
  nav ul li:first-child a {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
  }
  nav ul li:last-child a {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
  }
}
section#index {
  clear: both;
  margin-left: 1.37%;
  margin-right: 1.37%;
  overflow: hidden;
  *zoom: 1;
  position: relative;
  margin-top: 10px;
}
section#index h2 {
  border-top: solid 4px #ffffaa;
  padding-top: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffaa;
  margin: 10px 0 0 0;
}
section#index article {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 1.408%;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -ms-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  font-size: 14px;
  clear: right;
}
section#index article p {
  margin: 4px 0;
}
section#index section#sponsor_logos {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 1.408%;
}
section#index section#sponsor_logos div {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 1.408%;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -ms-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  clear: right;
}
section#index section#sponsor_logos div h2 {
  border-top-color: black;
  color: black;
}
section#index section#sponsor_logos div article {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 4.348%;
  margin: 0;
  padding: 0;
}
section#index section#sponsor_logos div article a {
  position: relative;
  display: block;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  border: none;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
}
section#index section#sponsor_logos div article a:hover {
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 170, 0.4);
  -moz-box-shadow: 0 0 10px rgba(255, 255, 170, 0.4);
  box-shadow: 0 0 10px rgba(255, 255, 170, 0.4);
}
section#index section#sponsor_logos div article a span {
  display: block;
  height: 0;
  width: 0;
  text-indent: -1000em;
}
section#index section#sponsor_logos div article a img {
  display: block;
  margin: 6px auto;
  max-width: 96%;
  padding: 2px;
}

@media screen and (min-width: 640px) and (max-width: 800px) {
  section#index article {
    display: inline;
    float: left;
    width: 49.296%;
    margin-right: 1.408%;
  }
  section#index article.participation, section#index article.venue, section#index article.videos {
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
  }
  section#index section#sponsor_logos div {
    display: inline;
    float: left;
    width: 49.296%;
    margin-right: 1.408%;
  }
  section#index section#sponsor_logos div#gold_sponsors, section#index section#sponsor_logos div#associate_sponsors, section#index section#sponsor_logos div#supporters {
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
  }
}
@media screen and (min-width: 800px) {
  section#index article {
    display: inline;
    float: left;
    width: 32.394%;
    margin-right: 1.408%;
  }
  section#index article.venue, section#index article.videos {
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
  }
  section#index section#sponsor_logos div {
    display: inline;
    float: left;
    width: 32.394%;
    margin-right: 1.408%;
  }
  section#index section#sponsor_logos div#silver_sponsors, section#index section#sponsor_logos div#supporters {
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
  }
}
section#talks {
  clear: both;
  margin-left: 1.37%;
  margin-right: 1.37%;
}
section#talks article {
  display: inline;
  float: left;
  width: 100%;
  margin-right: 1.408%;
  display: block;
  position: relative;
  color: #666666;
  clear: both;
  padding-top: 30px;
}
section#talks article h3, section#talks article p, section#talks article ul {
  padding: 4px 10px;
}
section#talks article a {
  color: #aa0000;
}
section#talks article div.speaker {
  display: block;
  color: white;
  font-size: 13px;
  line-height: 16px;
}
section#talks article div.speaker p {
  background: transparent;
}
section#talks article div.speaker div.photo {
  display: block;
  float: left;
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  padding: 4px;
  width: 128px;
  height: 148px;
  margin: -20px 10px 0 0;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
section#talks article div.speaker div.photo img {
  width: 128px;
  height: 128px;
}
section#talks article div.speaker div.photo h3 {
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  background: transparent;
}
section#talks article div.speaker div.photo span.links {
  display: block;
  position: absolute;
  height: 20px;
  background: white;
  top: 112px;
  left: 4px;
}
section#talks article div.speaker div.photo span.links a {
  display: block;
  width: 20px;
  height: 20px;
  background: transparent url("mini-icons.png") -20px -20px no-repeat;
  float: left;
  border: none;
  text-indent: -1000em;
  overflow: hidden;
}
section#talks article div.speaker div.photo span.links a.website {
  background-position: -20px -20px;
}
section#talks article div.speaker div.photo span.links a.website:hover {
  background-position: -60px -20px;
}
section#talks article div.speaker div.photo span.links a.twitter {
  background-position: -20px -60px;
}
section#talks article div.speaker div.photo span.links a.twitter:hover {
  background-position: -60px -60px;
}
section#talks article div.speaker div.photo span.links a:hover {
  background-color: black;
}
section#talks article div.talk {
  background: white;
  min-height: 180px;
}
section#talks article div.talk h3 {
  background: #ffffaa;
  margin: 0;
  padding: 20px 20px 10px 20px;
}

@media screen and (min-width: 800px) {
  section#talks article div.speaker {
    display: inline;
    float: left;
    width: 40.845%;
    margin-right: 1.408%;
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
  }
  section#talks article div.speaker div.photo {
    margin: -4px 10px 0 10px;
  }
  section#talks article div.talk {
    display: inline;
    float: left;
    width: 57.746%;
    margin-right: 1.408%;
    min-height: 240px;
  }
}
section#schedule h2, section#schedule h3 {
  text-align: left;
  margin: 40px 110px 0 110px;
}
section#schedule ul {
  display: block;
  width: 25%;
  margin: 10px 0;
  padding: 10px 0;
  color: #aa0000;
  background: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  -webkit-border-radius: 0 50px 50px 0;
  -moz-border-radius: 0 50px 50px 0;
  -ms-border-radius: 0 50px 50px 0;
  -o-border-radius: 0 50px 50px 0;
  border-radius: 0 50px 50px 0;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -ms-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
}
section#schedule ul li {
  list-style: none;
  margin: 0;
  padding: 80px 0;
  position: relative;
  height: 20px;
  line-height: 20px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -ms-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
}
section#schedule ul li span.time {
  display: block;
  text-align: center;
}
section#schedule ul li.single {
  padding: 30px 0;
}
section#schedule ul li.break {
  background: white;
  padding: 10px 0;
  height: 40px;
}
section#schedule ul li:last-child {
  border: none;
}
section#schedule ul li.no-speaker span.track1 {
  top: 30px;
}
section#schedule ul li span.track1, section#schedule ul li span.track2 {
  padding: 0 10px;
  display: block;
  position: absolute;
  width: 280%;
  left: 100%;
  top: 20px;
  text-align: left;
  color: white;
}
section#schedule ul li span.track2 {
  top: 100px;
}
section#schedule ul li strong, section#schedule ul li em {
  display: block;
  font-weight: normal;
  font-style: normal;
}
section#schedule ul li strong {
  color: #ffffaa;
}
section#schedule ul li em {
  color: black;
}

@media screen and (min-width: 640px) {
  section#schedule ul li {
    padding: 60px 0;
  }
  section#schedule ul li span.track2 {
    top: 80px;
  }
}
@media screen and (max-width: 800px) {
  span.track1, span.track2 {
    position: relative;
  }
  span.track1 strong, span.track1 em, span.track2 strong, span.track2 em {
    padding-left: 30px;
  }
  span.track1 strong:before, span.track2 strong:before {
    content: "1";
    display: inline-block;
    position: absolute;
    left: 10px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 26px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
  }

  span.track2 strong:before {
    content: "2";
  }

  li.single span.track1 strong, li.single span.track1 em, li.single span.track2 strong, li.single span.track2 em {
    padding-left: 0;
  }
  li.single span.track1 strong:before, li.single span.track2 strong:before {
    content: "";
    width: 0;
    height: 0;
    margin: 0;
  }
}
@media screen and (min-width: 800px) {
  section#schedule h2, section#schedule h3 {
    text-align: center;
  }
  section#schedule ul {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    width: 12.5%;
    margin: 10px auto;
  }
  section#schedule ul li {
    padding: 30px 0;
  }
  section#schedule ul li span.track1, section#schedule ul li span.track2 {
    width: 330%;
  }
  section#schedule ul li span.track1 {
    left: auto;
    right: 100%;
    text-align: right;
  }
  section#schedule ul li span.track2 {
    top: 20px;
  }
}
section#badges {
  clear: both;
  margin-left: 1.37%;
  margin-right: 1.37%;
  margin: 0;
  padding: 0;
  color: white;
}
section#badges ul {
  display: inline;
  margin: 0;
  padding: 0;
}
section#badges ul li {
  clear: both;
  margin-left: 1.37%;
  margin-right: 1.37%;
  overflow: hidden;
  *zoom: 1;
  list: none;
  display: block;
}
section#badges ul li span {
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -ms-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  display: inline;
  float: left;
  width: 32.394%;
  margin-right: 1.408%;
  text-align: center;
}
section#badges ul li span img {
  max-width: 95%;
  margin: 0 auto;
}
section#badges ul li pre {
  display: inline;
  float: left;
  width: 66.197%;
  margin-right: 1.408%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  margin-top: 76px;
  line-height: 15px;
  display: block;
  font-size: 13px;
}

@media screen and (max-width: 800px) {
  section#badges ul li span, section#badges ul li pre {
    display: inline;
    float: left;
    width: 100%;
    margin-right: 1.408%;
    margin-top: 0;
  }
}
section#directions {
  clear: both;
  margin-left: 1.37%;
  margin-right: 1.37%;
  overflow: hidden;
  *zoom: 1;
  position: relative;
}
section#directions div#venue {
  position: relative;
}
section#directions div#venue h2, section#directions div#venue p, section#directions div#venue ul {
  margin-left: 20px;
}
section#directions div#map {
  position: relative;
}
section#directions div#map iframe {
  display: block;
  height: 500px;
  width: 100%;
  margin: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
section#directions div#map a.view {
  font-size: 12px;
  margin-left: 5%;
}

@media screen and (min-width: 640px) {
  section#directions div#venue {
    display: inline;
    float: left;
    width: 32.394%;
    margin-right: 1.408%;
  }
  section#directions div#map {
    display: inline;
    float: left;
    width: 66.197%;
    margin-right: 1.408%;
    display: inline;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
  }
  section#directions div#map iframe {
    width: 96%;
    margin: 2%;
  }
}
section#sponsors {
  clear: both;
  margin-left: 1.37%;
  margin-right: 1.37%;
}
section#sponsors h2 {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}
section#sponsors div.sponsor {
  display: block;
  background: white;
  color: #666666;
  font-size: 13px;
  line-height: 16px;
  margin-top: 10px;
}
section#sponsors div.sponsor h3 {
  background: #ffffaa;
  margin: 0;
  padding: 20px 20px 10px 20px;
}
section#sponsors div.sponsor div {
  padding: 4px 10px;
}
section#sponsors div.sponsor a {
  color: #aa0000;
}

@media screen and (min-width: 800px) {
  section#sponsors {
    display: inline;
    float: left;
    width: 64.384%;
    margin-right: 1.37%;
    padding-left: 16.438%;
    padding-right: 16.438%;
  }
}
section#photos div.flickr_badge_image {
  display: block;
  float: left;
  margin: 4px;
  padding: 4px;
  background: white;
  height: 160px;
  text-align: center;
  width: 240px;
}
section#photos div.flickr_badge_image a {
  display: block;
  float: left;
}
section#photos div.flickr_badge_image img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  float: none;
}
section#photos div#flickr_badge_source {
  clear: both;
}
