section#directions{
  @include full;
  @include clearfix;
  position: relative;
  
  div#venue{
    position: relative;
    
    h2, p, ul{margin-left: 20px;}
  }
  
  div#map{
    position: relative;
    
    iframe{
      display: block;
      height: 500px;
      width: 100%;
      margin: 0;
      @include box-shadow(0 0 10px rgba(0,0,0,0.8));
    }
    
    a.view{font-size: 12px; margin-left: 5%;}
  }
}

@media screen and (min-width: 640px) {
  section#directions{
    div#venue{ @include columns(4,12);}
    div#map{
      @include columns(8,12);
      @include omega(12);
      
      iframe{
        width: 96%;
        margin: 2%;
      }
    }
  }
}
