section#directions{
  @include full;
  @include clearfix;
  position: relative;
  
  div#venue{
    @include columns(4);
    @include alpha;
    position: relative;
    
    h2, p, ul{margin-left: 20px;}
  }
  
  div#map{
    @include columns(8);
    @include omega;
    position: relative;
    
    iframe{
      display: block;
      height: 500px;
      width: 96%;
      margin: 20px auto;
      border: solid 6px transparent;
      @include box-shadow(0 0 10px rgba(0,0,0,0.8));
    }
    
    a.view{font-size: 12px; margin-left: 5%;}
  }
}