section#index{
  @include full;
  @include clearfix;
  position: relative;
  margin-top: 10px;

  h2{
    border-top: solid 4px $highlight-color;
    padding-top: 4px;
    font-size: 14px;
    font-weight: bold;
    color: $highlight-color;
    margin: 10px 0 0 0;
  }
  
  article{
    @include columns(12,12);
    @include transition-duration(2s);
    font-size: 14px;
    clear: right;

    p{ margin: 4px 0; }
  }

  section#sponsor_logos{
    @include columns(12,12);

    div{
      @include columns(12,12);
      @include transition-duration(2s);
      clear: right;
      
      h2{ border-top-color: $black; color: $black;}

      article{
        @include columns(4,4);
        margin: 0; padding: 0;

        a{
          position: relative;
          display: block;
          margin: 10px;

          text-align: center;
          text-decoration: none;
          border: none;
          @include border-radius(12px);

          &:hover{ @include box-shadow(0 0 10px rgba($highlight-color,0.4)); }
        
          span{display: block; height: 0; width: 0; text-indent: -1000em; }

          img{
            display: block;
            margin: 6px auto;
            max-width: 96%;
            padding: 2px;
          }
        }
      }

    }
  }
}

@media screen and (min-width: 640px) and (max-width: 800px) {
  section#index{
    article{
      @include columns(6,12);
      &.participation, &.venue, &.videos{@include omega(12);}
    }
    
    section#sponsor_logos div{
      @include columns(6,12);
      &#gold_sponsors, &#associate_sponsors, &#supporters { @include omega(12); }
    }
  }
}

@media screen and (min-width: 800px) {
  section#index{
    article{
      @include columns(4,12);
      &.venue, &.videos{@include omega(12);}
    }

    section#sponsor_logos div{
      @include columns(4,12);

      &#silver_sponsors, &#supporters { @include omega(12); }
    }
  }
}
