section#index{
  @include full;
  @include clearfix;
  position: relative;
  margin-top: 10px;

  h2{
    border-top: solid 4px $highlight-color;
    padding-top: 4px;
    font-size: 14px;
    font-weight: bold;
    color: $highlight-color;
    margin: 10px 10px 0 10px;
  }
  
  article{
    @include columns(12);
    @include transition-duration(2s);
    font-size: 14px;

    p{ margin: 4px 10px 10px 10px; }
  }

  section#sponsor_logos{
    @include columns(12);

    div{
      @include columns(12,12);
      @include transition-duration(2s);
      
      h2{ border-top-color: $black; color: $black;}
      

      article{
        @include columns(4,4);

        a{
          position: relative;
          display: block;
          margin: 10px;

          text-align: center;
          text-decoration: none;
          border: none;
          @include border-radius(12px);

          &:hover{
            @include box-shadow(0 0 10px rgba($highlight-color,0.9));
          }
        
          span{display: block; height: 0; width: 0; text-indent: -1000em; }

          img{
            display: block;
            margin: 6px auto;
            max-width: 96%;
            padding: 2px;
          }
        }
      }

    }
  }
}

@media screen and (min-width: 640px) {
  section#index{
    article{
      @include columns(6);
    }
    
    section#sponsor_logos{
      div{@include columns(6,12);}
    }
  }
}

@media screen and (min-width: 800px) {
  section#index{
    article{
      @include columns(4);
    }

    section#sponsor_logos{
      div{@include columns(4,12);}
    }
  }
}
