html{
  background: $primary-color url('bg_waves.png') repeat center center;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
}

section#page{
  @include container;
}

a{color: $highlight-color; text-decoration: none; border-bottom: dotted 1px;}

header{
  @include full;
  position: relative;
  overflow: hidden;
  z-index: 10;
  padding-top: 40px;

  h1, h2{text-align: center;}
  h1{ font-size: 18px; line-height: 20px;}
  h2{ font-size: 14px; line-height: 18px;}
  
  a.home{
    display: block;
    border: none;
    width: 100%;
    height: 100%;
  }
  
  p#twitter{
    display: block;
    position: absolute;
    background: $black;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 4px 0;

    color: $dark-gray;
    font-size: 13px;
    line-height: 18px;
    text-align: center;

    a{color: $primary-color;text-decoration: none;}
  }
}

nav{
  @include clearfix;
  width: 100%;
  position: relative;
  background: $white;
  @include box-shadow(0 0 5px rgba(0,0,0,0.3));
  
  ul{
    margin: 0; padding: 0;
    li{display: inline;}
        
    a{
      display: block;
      @include columns(4,12);
      @include transition-property(length);
      @include transition-duration(2s);
      
      text-align: center;
      text-decoration: none;
      color: $primary-color;
      border: none;
      line-height: 36px;
      
      &.register{@include alpha(12);}
      &.directions, &.photos{@include omega(12);}

      &.register{background-position: center 0px;}
      &.talks{background-position: center -100px;}
      &.schedule{background-position: center -200px;}
      &.directions{background-position: center -300px;}
      &.hotels{background-position: center -400px;}
      &.videos{background-position: center -500px;}
      &.badges{background-position: center -600px;}
      &.index{background-position: center -700px;}
      &.sponsors{background-position: center -800px;}
      &.photos{background-position: center -900px;}
      
      body#page_index &.index,
      body#page_talks &.talks,
      body#page_schedule &.schedule,
      body#page_directions &.directions,
      body#page_badges &.badges,
      body#page_sponsors &.sponsors,
      body#page_photos &.photos,
      &:hover{
        background-color: $highlight-color;
      }
    }
  }
}

footer{
  @include full;
  padding-top: 100px;
  position: relative;
  text-align: center;
  color: rgba($white, 0.6);
  font-size: 11px;
  
  a{color: rgba($highlight-color, 0.7); text-decoration: none; border-bottom: dotted 1px;}
}

@media screen and (min-width: 640px) {
  html{background-position: fixed;}
  
  header{
    position: relative;
    padding-top: 50px;
    height: 200px;
    background: transparent url('logo.png') no-repeat center 0px;
    overflow: hidden;
    z-index: 10;
    padding-top: 4px;

    h1, h2{text-indent: -1000em;}
    
    p#twitter{
      top: 5px;
      right: 5px;
      left: auto;
    
      height: 90px;
      width: 160px;
      background: transparent url('twitter.png') no-repeat center top;
      padding: 15px 20px;
    }
  }
  
  nav{  
    ul{
      margin: 0; padding: 0;
      li{display: inline;}
        
      a{
        display: block;
        text-align: center;
        text-decoration: none;
        color: $primary-color;
        border: none;
      
        padding: 50px 0 8px 0;
        background: transparent url("icons-small.png") no-repeat top center;

        body#page_index &.index,
        body#page_talks &.talks,
        body#page_schedule &.schedule,
        body#page_directions &.directions,
        body#page_badges &.badges,
        body#page_sponsors &.sponsors,
        &:hover{
          background-color: $highlight-color;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  nav ul a{
    &.schedule{@include omega(12);}
  }
}

@media screen and (min-width: 800px) {
  nav ul a{ @include columns(2,12);}
}

@media screen and (min-width: 960px) {
  nav{
    @include border-radius(4px);
    ul li:first-child a{@include border-radius(4px 0 0 4px);}
    ul li:last-child a{@include border-radius(0 4px 4px 0);}
  }
}