section#schedule{
  
  h2, h3{ text-align: left; margin: 40px 110px 0 110px;}
  
  ul{
    display: block;
    width: 25%;
    margin: 10px 0;
    padding: 10px 0;
    color: $primary-color;
    background: rgba($black,0.6);
    font-size: 16px;
    @include border-radius(0 50px 50px 0);
    @include transition-duration(2s);
    
    li{
      list-style: none;
      margin: 0;
      padding: 80px 0;
      position: relative;
      height: 20px;
      line-height: 20px;
      border-bottom: solid 1px rgba($black, 0.4);
      @include transition-duration(2s);
      
      span.time{display: block; text-align: center;}
      &.single{padding: 30px 0;}
      &.break{
        background: $white;
        padding: 10px 0;
        height: 40px;
      }
      &:last-child{border: none;}
      &.no-speaker span.track1{top: 30px;}
      
      span.track1, span.track2{
        padding: 0 10px;
        display: block;
        position: absolute;
        width: 280%;
        left: 100%;
        top: 20px;
        text-align: left;
        color: $white;
      }
      
      span.track2{ top: 100px;}
      
      strong, em{display: block; font-weight: normal; font-style: normal;}
      strong{color: $highlight-color;}
      em{color: $black;}
    }
  }
}

@media screen and (min-width: 640px){
  section#schedule ul li{
    padding: 60px 0;
    
    span.track2{top: 80px;}
  }
}

@media screen and (max-width: 800px) {
  span.track1, span.track2{
    position: relative;
    strong, em{padding-left: 30px;}

    strong:before{
      content: "1";
      display: inline-block;
      position: absolute;
      left: 10px;
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 26px;
      @include border-radius(20px);
      background: rgba($black, 0.5);
    }
  }
  
  span.track2 strong:before{content: "2";}
  
  li.single{
    span.track1, span.track2{
      strong, em{padding-left: 0;}

      strong:before{
        content: "";
        width: 0;
        height: 0;
        margin: 0;
      }
    }
  } 
}

@media screen and (min-width: 800px) {
  section#schedule{
    h2, h3{ text-align: center;}
    
    ul{
      @include border-radius(100px);
      width: 12.5%;
      margin: 10px auto;
      
      li{
        padding: 30px 0;
        
        span.track1, span.track2{width: 330%;}
        span.track1{left: auto; right: 100%; text-align: right;}
        span.track2{top: 20px;}
      }
    }
  }
}
