$white: #fff;
$black: #000;
$gray: rgba($black, 0.6);
$gray-light: rgba($black, 0.5);
$gray-xlight: rgba($black, 0.2);

$blue: #2da4cc;
$blue-light: rgba($blue, 0.8);

$red: #a00;
$red-light: rgba($red, 0.8);
$red-dark: #950000;

$brown: #ffc62a;
$brown-light: rgba($brown, 0.5);