$black: #000;
$gray-dark: #333;
$gray: #666;
$gray-light: #999;
$gray-xlight: #ccc;
$gray-xxlight: #eee;
$white: #fff;
$red: #a00;
$cream: #F2ECCE;

$primary-color: $red;
$secondary-color: $cream;

@import "mixins";
@import "normalize";
@import "typography";
@import "icons";

@import "layout";
@import "components";
@import "header";

@import "home";
@import "speakers";
@import "badges";
@import "schedule";