#home{
  .container{
    h2{
      margin: 0;
      font-family: 'brandon-grotesque';
      font-weight: 300; font-size: 24px;
      text-align: center;
      @media screen and (min-width: 600px){
        font-size: 30px;
      }
      @media screen and (min-width: 800px){
        font-size: 40px;
      }
    }

    .speakers{
      margin: 0 0 0 0; padding: 0 0 0 0;
      text-align: center;

      @media screen and (min-width: 600px){ margin: 10px;}
      @media screen and (min-width: 800px){ margin: 15px;}

      li{
        margin: 0; padding: 0;
        display: inline-block;
        text-align: center;
        width: 120px;

        @media screen and (min-width: 600px){ width: 140px;}
        @media screen and (min-width: 900px){ width: 160px;}

        img{
          display: block;
          margin: 10px auto;
          width: 80px; height: 80px;
          border-radius: 40px;
          box-shadow: 0 0 0 10px $secondary-color;

          @media screen and (min-width: 600px){
            width: 100px; height: 100px;
            border-radius: 50px;
          }
        }

        a{
          text-decoration: none;
          color: $primary-color;
          font-weight: 600;
          display: block;
          margin: 0 auto;
          border: none;
        }

        span{color: $gray-light;}
      }
    }

    div.article{
      @include border-box;
      width: 100%;
      padding: 2px;
      margin: 0.5%;
      float: right;
      text-align: left;
      border-top: solid 2px $primary-color;

      @media screen and (min-width: 600px){ width: 19%;}

      &.sponsorship, &.contact{
        float: left;
        @media screen and (min-width: 600px){ width: 39%;}
      }

      h3{
        color: $primary-color;
        margin: 0;
        font-size: 16px;
      }

      ul{margin: 0; padding-left: 24px;}

      &.contact ul{
        font-weight: bold;
        li a{
          display: table; font-weight: normal; margin: 0 0 0 20px;
        }
      } 

      &.sponsor {
        width: 100%;
        h3 {
          color: $secondary-color;
          border-top: solid 2px $secondary-color;
        }
        ul {
          padding-left: 0;
          li {
            display: block;
            a {
              border-bottom: none;
              img {
                margin: 30px 0 10px 0;
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 280px; 
                max-height: 100px; 
              }
            }
          }
        }

        @media screen and (min-width: 600px){ width: 32%;}
        &.platinum, &.gold, &.associate, &.dinner {
          float: left;
        }
      }
    }

    &.sponsor-block {
      background: $primary-color;
    }
  }
}
