#home{
  #header{border-bottom: none;}
  .info{margin-top: 40px; margin-bottom: 10px;}

  .container{
    h2{
      margin: 0;
      font-family: 'brandon-grotesque';
      font-weight: 300; font-size: 24px;
      text-align: center;
      @media screen and (min-width: 600px){
        font-size: 30px;
      }
      @media screen and (min-width: 800px){
        font-size: 40px;
      }
    }

    .article{
      @include border-box;
      width: 100%;
      padding: 0 0 10px 0;
      margin: 0.5%;
      float: right;
      text-align: left;
      background: $secondary-color;
      border-radius: 4px;

      &.twitter{display: none;}

      @media screen and (min-width: 600px){ 
        width: 29%;

        &.contact{width: 29%;}
        &.twitter{display: block; width: 68%; border: solid 10px $secondary-color; background: transparent;}
      }

      &.contact{float: left;}
      &.news{float: left;  clear: left;}
      &.previous{float: left; clear: left;}
      &.twitter{ float: right;}

      &.twitter{
        div.tintup-holder{
          -webkit-overflow-scrolling:touch;
          overflow:auto;
          position:relative;
          height:500px;
          width:100%;
        }

        iframe{
          height: 500px;
          width: 100%;
          border: none;
        }
      }

      h3{
        margin: 18px 0 6px 0;
        font-size: 21px;
        font-weight: 100;
        text-align: center;
        // text-transform: lowercase;
      }

      ul{margin: 0; padding-left: 24px;}

      &.contact ul{
        font-weight: bold;
        
        li{
          display: block;
          width: 50%;
          float: left;
          line-height: 32px;
          border-radius: 18px;
          padding: 4px 0 10px 0;
          text-align: center;
          margin: 4px 0;
        }

        li a{
          display: inline-block;
          position: relative;
          font-weight: normal;
          width: 32px;
          height: 32px;
          border-radius: 16px;
          text-indent: -1000em;
          overflow: hidden;
          border: none;
          background: $white;
          color: $primary-color;

          &:hover{
            background: $primary-color;
            color: $secondary-color;
          }

          &:before{
            content: "\2709";
            font-family: 'social-icons';
            display: block;
            position: absolute;
            top: 0; left: 0;
            width: 32px;

            text-indent: 0;
            text-align: center;
            font-size: 16px;
            line-height: 32px;
          }
          
          &.phone:before{content: "\e065";}
          &.twitter:before{content: "\f309";}


        }
      }

      &.news{
        p{padding: 0 10px; text-align: center;}
        a{
          display: inline-block;
          background: $white;
        }
      }

      a{
        box-sizing: border-box;
        display: inline-block;
        line-height: 24px;
        font-weight: bold;
        background: $white;
        padding: 2px 12px 0 12px;
        text-align: center;
        border: none;
        border-radius: 4px;

        &:hover, &:focus{
          background: $primary-color;
          color: $secondary-color;
        }
      }

      &.previous ul{
        li{
          display: block;
          float: left;
          list-style-type: none;
          width: 30%;
          margin-right: 3%;

          a{width: 100%;}
        }
      } 
    }
  }

  .sponsors{
    background: $secondary-color;

    .article{
      @include border-box;
      padding: 10px 5px;
      float: left;
      text-align: center;
      &:nth-child(4){clear: both;}

      &.sponsor{ float: left;
        @media screen and (min-width: 600px){ width: 32.3%;}
      }

      ul{padding-left: 0;}
      ul li a{padding: 10px 20px;}

      @media screen and (max-width: 640px){
        &.associate{padding: 0;}
        &.associate:nth-child(5), &.associate:nth-child(6){
          h3{display: none;}
        }
      }

      @media screen and (min-width: 640px){
        &.associate:nth-child(4), &.associate:nth-child(6){
          h3{color: $secondary-color;}
        }
      }
    }

    h3, li{text-align: center;}

    a{
      margin: 10px 0;
      height: 80px;
      width: 100%;

      &.light{background: $gray-dark;}
      &.medium{background: $gray;}
      &.nilenso{background: #f8337d;}
    }

    ul{padding: 0; margin: 0;
      li{list-style-type: none; margin: 0; padding: 0; text-align: center;}
      img{ max-height: 60px; max-width: 100%;}
    }
  }
}

.twitter-timeline, #twitter-widget-0{
  display: block;
  width: 100%;
  height: 300px;
  background: $secondary-color;
}
