@font-face {
  font-family: 'social-icons';
  src: url('fonts/social-icons.eot?65157432');
  src: url('fonts/social-icons.eot?65157432#iefix') format('embedded-opentype'),
       url('fonts/social-icons.woff?65157432') format('woff'),
       url('fonts/social-icons.ttf?65157432') format('truetype'),
       url('fonts/social-icons.svg?65157432#social-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
