.container{
  display: table;
  @include border-box;
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
}

ul.actions li a, a.button{
  display: block;
  margin: 0;
  padding: 10px 12px 4px 4px;
  font-size: 14px;
  line-height: 20px;
  font-family: 'brandon-grotesque';
  font-weight: 400;
  text-decoration: none;
  color: $white;
  text-align: center;
  border: none;
  color: $secondary-color;

  span{font-size: 24px; color: $white;}
}

ul.actions{
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background: $primary-color;

  li{
    display: block; margin: 0; padding: 0 0 4px 0;
    background: $primary-color;
    color: $secondary-color;
    border-top: dotted 1px $secondary-color;
    &:first-child{border-top: none;}

    @media screen and (min-width: 600px){
      display: inline-block;
      border-right: dotted 1px $secondary-color;
      border-bottom: none;
      border-top: none;
      &:first-child{border-left: dotted 1px $secondary-color;}
    }
    &:hover{background: #000;}
  }
  li a{margin: 0 20px;}
}
