body{
  // background: $gray-dark;
}

.container{
  display: block;
  @include border-box;
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

#header{
  padding: 60px;
  border-bottom: solid 4px $red;
  background: #F2ECCE;

  h1{
    a{
      font-size: 60px;
      font-weight: 900;
      color: $red;
      text-decoration: none;
    }
  } 
}

#content{
  .article{
    width: 50%;
    float: left;
    @include border-box;

    &.sponsorship{
      width: 100%;
    }
  }
}