.container{
  display: block;
  @include border-box;
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
}

a.button{
  margin: 0;
  padding: 0 8px;
  font-size: 24px;
  line-height: 40px;
  font-family: 'brandon-grotesque';
  font-weight: 400;
  text-decoration: none;
  background: $primary-color;
  color: $secondary-color;
  border-radius: 4px;

  &:hover, &:focus, &:active{
    color: $primary-color;
    background: $secondary-color;
  }
}

ul.actions{
  width: 100%;
  margin: 0 0 20px 0;
  padding: 20px;
  text-align: center;
  background: $secondary-color;

  @media screen and (min-width: 600px){ margin-top: 15px;}
  @media screen and (min-width: 800px){ margin-top: 30px;}
  li{
    display: block; margin: 0 0 10px 0; padding: 0;

    @media screen and (min-width: 600px){
      display: inline-block;
    }
  }
  li a{margin: 0 20px;}
  li a:hover, a:focus, a:active{background: $white;}
}
